<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PasswordDbContext" connectionString="Data Source=C:\\Users\\wei_li\\source\\repos\\minimalapi\\PassMan\\sqlite\\pm.db" providerName="System.Data.SQLite" />
  </connectionStrings>
  <appSettings>
    <add key="ApiUrl" value="https://localhost:7145" />
  </appSettings>
</configuration>